
body {
    background-image: url(roboc.jpg);
    background-size: 100vw 100vh;
    background-attachment: fixed;
    margin:0;
    font-family:monospace; 
    }

form{
    width: 450px;
    margin: auto;
    background: rgba(0,0,0,0.4);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;
}

h2 {
    color: #fff;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: :20px;
   
}

input, textarea {
width: 100%;
margin-bottom: 20px;
   padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
}

textarea {    
min-height: 100px;
max-height: 200px;
max-width :100%;
}

#boton {
    background: #31384A;
    color: #fff ;
    padding: 20px;
}

#boton: hover{
cursor:pointer;  

}
@media(max-width:480px){
    form{
    width:100%;
    }
}

h1{
    text-align: center;
    color:#ffff;
    font-size:40px;
    background: rgba(0,0,0,0.4);
    margin-top: 20px;
}


/*MENSAJE EXITO */
mensaje-exito {
	width:100%;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;	
}

mensaje-exito h1{
	font-size: 35px;
	display: block;
	text-align:center;
	 margin-bottom: 20px;
	
}

mensaje-exito a{
	display:block;
	padding: 10px 30px;
	background: #4091EC;
	text-decoration:none;
	color:#fff;	
}

mensaje-exito a:hover{
		background: #3371B6;	
}

